/* styles.css */
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

.col-sm-2 {
  height: 100%;
}

.col-sm-10 {
  height: 100%;
}